.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #f4f4f4; 
}